a.invalid:link,
a.invalid:visited {
  color: red;
}

div.hn-archive-warning {
  color: white;
  background-color: darkred;
  padding: 6px;
  font-weight: bold;
  border-radius: 0px 0px 12px 12px;
}

div.searchresult {
  background-color: #ddd;
  box-shadow: rgb(185, 185, 185) 5px 5px 5px;
  border-radius: 6px;
  padding: 6px;
  margin-bottom: 12px;
}
