<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/breadcrumb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <title>Forums by Time Order</title>
  </head>
  <body>

    {% include "partials/navigationbar.html" %}
    {% include "partials/readonly.html" %}

    <br>
    <strong>Click on your Forum of choice.</strong>
    <br>

    <hr>
    <dd> Review of analysis SMP-20-011

    </dd>

    <dt>
        <img alt="*" src="https://hypernews.cern.ch/HyperNewsDocs/CMS/Icons/redball.gif" width="14" height="14">
        <b><a href="https://hypernews.cern.ch/HyperNews/CMS/get/SMP-20-011.html">Review of SMP-20-011</a> </b> (0.0 days)
        <a href="https://hypernews.cern.ch/HyperNews/CMS/edit-response.pl/SMP-20-011.html"><img border="0" alt="(add)" src="https://hypernews.cern.ch/HyperNewsDocs/CMS/Icons/plus.gif" width="14" height="13"></a>
    </dt>

    {% include "partials/footer.html" %}
    </body>
</html>
