<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/breadcrumb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <title>Forums by Time Order</title>
  </head>
  <body>

    {% include "partials/navigationbar.html" %}
    {% include "partials/readonly.html" %}

    <br>
    <strong>Click on your Forum of choice.</strong>
    <br>

    <hr>

    <dd>
    {% for forum in forums %}
      <dt>
          <img alt="*" src="https://hypernews.cern.ch/HyperNewsDocs/CMS/Icons/redball.gif" width="14" height="14">
          <b><a href="{{ forum.url }}">{{ forum.title }}</a> </b> ({{ forum.last_mod.strftime('%Y-%m-%d') }})
      </dt>
    {% endfor %}
    </dd>

    {% include "partials/footer.html" %}
    </body>
</html>
