<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{{ title }}</title>
</head>
<body>
  <ul class="breadcrumb">
    {% for item in breadcrumbs %}
      <li><a href="{{ item.url }}">{{ item.name }}</a></li>
    {%- endfor %}
  </ul>

    <h1>{{ urc.title }}</h1>
    {{ body | safe }}

    <h1> Replies </h1>
    <ul>
      {% for item in replies %}
      <li>{{ item.msg.num }} <a href="{{item.url}}">{{ item.msg.title }}</a>
        {%- if item.entries == 1 -%}
          {{ " " }} (1 reply)
        {%- elif item.entries > 1 -%}
          {{ " " }} ({{ item.entries }} replies)
        {%- endif -%}
        </li>
      {%- endfor %}
    </ul>
</body>
</html>
