<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/breadcrumb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <title>{{ urc.title }}</title>
  </head>
  <body>

    <div class="pagetitle">
      <table width="100%">
        <tbody>
          <tr>
            <td class="titleleft">Message: {{ urc.title }}</td>
            </td>
            <td class="titleright">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="navigationbar">

      <table>
        <tbody>
          <tr>
            <td>

            </td>
            <td>
              <img src="https://hypernews.cern.ch/HyperNewsDocs/CMS/Icons/cms.png" border="0">
            </td>

            <td>
              <table class="navtable">
                <tbody>
                  <tr>

                    <td>
                      <table>
                        <tbody>
                          <tr>
                            <td>
                              <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/cindex">Forums by Category</a>
                            </td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/index">Forums by Time Order</a>
                            </td>
                            <td>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table>
                        <tbody>
                          <tr>
                            <td>
                              <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/recent">Recent Postings</a>
                            </td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/search">Search in Forums</a>
                            </td>
                            <td>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table>
                        <tbody>
                          <tr>
                            <td>
                              <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/SECURED/edit-member.pl">Member Info</a>
                            </td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/view-members.pl">Members List</a>
                            </td>
                            <td>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table>
                        <tbody>
                          <tr>
                            <td>
                              <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/top.pl">Overview</a>
                            </td>
                            <td>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <a class="navlink" href="mailto:hn-cms-admin@cern.ch">Contact Admin</a>
                            </td>
                            <td>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>

                  </tr>
                </tbody>
              </table>
            </td>


          </tr>
        </tbody>
      </table>

    </div>


    <ul class="breadcrumb">
      {% for item in breadcrumbs %}
        <li>
          <a href="{{ item.url }}">{{ item.name }}</a>
        </li>
        {%- endfor %}
    </ul>

    <table>
      <tbody>
        <tr>
          <td>
            <table style="border-style:outset" border="0" cellpadding="0" cellspacing="0" height="17">
              <tbody>
                <tr>
                  <td style="BORDER:0">
                    <nobr>
                    <a href="https://hypernews.cern.ch/HyperNews/CMS/thread.pl/beamspot/193.html?dir=next-in-thread" class="commandlink invalid">
                      &nbsp;Next-in-Thread
                    </a>
                    </nobr>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>

          <td>
            <table style="border-style:outset" border="0" cellpadding="0" cellspacing="0" height="17">
              <tbody>
                <tr>
                  <td style="BORDER:0">
                    <nobr>
                    <a href="https://hypernews.cern.ch/HyperNews/CMS/thread.pl/beamspot/193.html?dir=nextResponse" class="commandlink invalid">
                      &nbsp;Next-in-Forum
                    </a>
                    </nobr>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>

        </tr>
      </tbody>
    </table>
    <!-- start header -->
    <h2>
      <img src="https://hypernews.cern.ch/HyperNewsDocs/CMS/Icons/hnsmall.gif" alt="None" width="15" height="15" align="texttop" border="0">{{ urc.title }}</h2>
    <dl>
      <dd>
        <nobr>


        <font size="+1">
          <i>Forum:</i>
          <a href="/">
            {{ forum_title }}</a>
          <br>
        </font>

        <i>Date:</i> {{ urc.date.strftime('%d %b, %Y') }} <br>
        <i>From:</i>
        <a class="invalid" href="https://hypernews.cern.ch/HyperNews/CMS/view-member.pl?{{ urc.from_ }}">{{ urc.name }}</a>
        &lt;<i>{{ urc.name }}</i>&gt; <br>

        </nobr>
      </dd>
    </dl>

    <!--  start message body  -->
    <table border="" cellpadding="5" cellspacing="0" width="100%" bgcolor="#FFFFFF">
      <tbody>
        <tr>
          <td>
            {{ body | safe }}
          </td>
        </tr>
      </tbody>
    </table>
    <!--  end message body -->

    {% if replies -%}
      <div class="listing">
        <ol>
          {% for item in replies %}
            <a href="{{item.url}}">
              <li value="{{ item.msg.num }}">
                {{ item.msg.title }}
                {%- if item.entries == 1 -%}
                {{ " " }} (1 reply)
                {%- elif item.entries > 1 -%}
                {{ " " }} ({{ item.entries }} replies)
                {%- endif -%}
              </li>
            </a>
            {%- endfor %}
        </ol>
      </div>
    {% endif %}

    <details>
      <summary>Click to see raw info</summary>
      <pre>{{ urc.as_simple_dict() | tojson(indent=2) }}</pre>
    </details>
  </body>
</html>
