{% extends "pages/base.html" %}
{% block title %}Search Hypernews Forums{% endblock %}
{% block content %}

<br />
<form method="get" action="{{url_for('search')}}" enctype="application/x-www-form-urlencoded" class="form">
    Query:<input maxlength="200" value="{{ query }}" size="64" type="text" name="query" />
    <input value="Search!" type="submit" name="submit" /><br />
    Start:<input type="date" name="start" value="{{ start }}" min="2005-12-01" max="2022-03-31" />
    Stop:<input type="date" name="stop" value="{{ stop }}" min="2005-12-01" max="2022-03-31" />
    Page:<input type="number" name="page" value="{{ page }}" min="1" max="1000" />
</form>
<hr>

<p>
    {{ info_msg }}
</p>

{% for row in results %}
<div class="searchresult">
    <a href="/get{{ row[0] }}">{{ row[1] | safe }}</a> {{ row[2] }} - by <a href="/view-member.pl?{{ row[3] }}">{{ row[3] }}</a> <br />
    <p>
        {{ row[4] | safe }}
    </p>
</div>
{% endfor %}
<br />
{% endblock %}
