<div class="navigationbar">
  <table>
    <tbody>
      <tr>
        <td>

        </td>
        <td>
          <img src="https://hypernews.cern.ch/HyperNewsDocs/CMS/Icons/cms.png" border="0">
        </td>

        <td>
          <table class="navtable">
            <tbody>
              <tr>

                <td>
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <a class="navlink" href="/cindex">Forums by Category</a>
                        </td>
                        <td>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a class="navlink" href="/index">Forums by Time Order</a>
                        </td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>

                <td>
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/recent">Recent Postings</a>
                        </td>
                        <td>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/search">Search in Forums</a>
                        </td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>

                <td>
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/SECURED/edit-member.pl">Member Info</a>
                        </td>
                        <td>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/view-members.pl">Members List</a>
                        </td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>

                <td>
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <a class="navlink invalid" href="https://hypernews.cern.ch/HyperNews/CMS/top.pl">Overview</a>
                        </td>
                        <td>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <a class="navlink" href="mailto:hn-cms-admin@cern.ch">Contact Admin</a>
                        </td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>

              </tr>
            </tbody>
          </table>
        </td>


      </tr>
    </tbody>
  </table>

</div>
