<div class="navigationbar">
    <table>
        <tbody>
            <tr>
                <td>

                </td>
                <td>
                    <img src="{{ url_for('icons', path='cms.png') }}" border="0">
                </td>

                <td>
                    <table class="navtable">
                        <tbody>
                            <tr>

                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="navlink" href="/cindex">Forums by Category</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="navlink" href="/index">Forums by Time Order</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="navlink" href="/search">Search in Forums</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="navlink" href="/view-members.pl">Members List</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="navlink" href="/top.pl">Overview</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <a class="navlink" href="mailto:hn-cms-admin@cern.ch">Contact Admin</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>


            </tr>
        </tbody>
    </table>

</div>
