<div class="navigationbar">
    <table>
        <tbody>
            <tr>
                <td>

                </td>
                <td>
                    <img src="{{ url_for('icons', path='cms.png') }}" border="0">
                </td>

                <td>
                    <table class="navtable">
                        <tbody>
                            <tr>

                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="navlink" href="{{ url_for('cindex') }}">Forums by Category</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="navlink" href="{{ url_for('index') }}">Forums by Time Order</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="navlink" href="{{ url_for('search') }}">Search in Forums</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="navlink" href="{{ url_for ('view_members') }}">Members List</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="navlink" href="{{ url_for('home_page') }}">Overview</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <a class="navlink" href="mailto:hn-cms-admin@cern.ch">Contact Admin</a>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>


            </tr>
        </tbody>
    </table>

</div>
